.about-intro-wrapper {
    text-align: center;
}

#about-p {
    white-space: pre;
}


.CV-link {
    color: var(--yellow);
    text-decoration: underline;
}

.about-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 360px;
}
