@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --almostBlack: #0C0C0C;
    --lightGrey: #323232;
    --darkGrey: #252323;
    --yellow: #F5AB00;
    --pink: #F49DB5;
    --green: #7D8333;
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--lightGrey);
    padding: 0 100px;
    overflow: auto;
}

main {
    padding: 50px 0;
}

aside {
    padding: 20px 50px;
}

/* Headings */
h1,
h2 {
    color: white;
    font-family: 'Major Mono Display', monospace;
}

h1 {
    font-size: 2.5rem;
}

.h1-center {
    text-align: center;
}

.h1-dark {
    color: var(--almostBlack);
    font-size: 4rem;
}

.h2-dark {
    color: var(--almostBlack);
    font-size: 2rem;
}

/* Body text */
p {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.5rem ;
}

.p-dark {
    color: var(--almostBlack);
    font-size: 1.5rem;
}

.p-small {
    font-size: 16px;
    line-height: 1.2rem ;
}

.p-bold {
    font-weight: 600;
}

/* Links */
a {
    text-decoration: none;
}

/* Hover efects */
.scale-hover:hover {
    transform: scale(1.2);
}

/* Spacing */
.margin-b-50 {
    margin-bottom: 50px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-r-10 {
    margin-right: 10px;
}

/* Display */
.d-flex {
    display: flex;
}


/* Main navigation */
.nav-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem 0;
    margin-bottom: 0;
}

#logo {
    grid-column: 1/2; 
}

.nav-links  {
    grid-column: 2/3;
    display: flex;
    gap: 50px;
    padding: .6rem;
    justify-content: end;
}

.nav-links > li {
    list-style: none;
}

.nav-links > li > a {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.nav-links > li > a:hover {
    background-color: var(--almostBlack);
    padding: .5rem 1rem;
}

.nav-links > li > a.active {
    background-color: var(--almostBlack);
    padding: .5rem 1rem;
}

/* Footer */
#copyright {
    text-align: center;
    font-size: .8rem ;
    padding: 10px 0;
}



