/* Works */
.works-container {
    display: grid;
    grid-template-columns: .4fr 4fr 4fr 1fr;
    background-color: var(--darkGrey);
    border: solid var(--almostBlack) 6px;
    margin-bottom: 10px;
}

.works-green,
.works-pink,
.works-yellow {
    padding: 1.8rem 1rem;
    border-right: solid var(--almostBlack) 6px;
}

.works-green {
    background-color: var(--green);
}

.works-pink {
    background-color: var(--pink);
}

.works-yellow {
    background-color: var(--yellow);
}

.h2-year-wrapper {
    padding: 1.3rem .2rem;
    background-color: white;
    border-right: solid var(--almostBlack) 6px;
    text-align: center;
}

.h2-year{
    color: var(--almostBlack);
    font-size: 1.2rem;
    writing-mode: vertical-lr;
    margin-left: .6rem;
}

.arrow-backgrond {
    display: flex;
    background-color: var(--almostBlack);
    justify-content: center;
    padding: 1.6rem 0;   
}

/* CASE STUDIES */
.casestudy-link-yellow,
.casestudy-link-pink,
.casestudy-link-green {
    text-decoration: underline;
}

.casestudy-link-yellow {
    color: var(--yellow);
}

.casestudy-link-pink {
    color: var(--pink);
}

.casestudy-link-green {
    color: var(--green);
}
  
.container {
    display: flex;
    height: 45vw;
}
  
.scrollable {
    flex: 1;
    display: flexbox;
    overflow-y: auto;
    background-color: var(--darkGrey);
    padding: 20px;
    align-items: center;
    object-fit: fill;
}

.scrollable::-webkit-scrollbar {
    width: thin;
    background: transparent;  
}

.scroll-img {
    width: 612px;
}
  
.fixed {
    flex: 1;
    padding: 0 50px 0 0;
}


/* Case studies navigation */
.nav-links-work  {
    display: flex;
    gap: 50px;
    padding: 1rem;
    justify-content: center;
}
    
.nav-links-work > li {
    list-style: none;
}
    .nav-links-work > li > a {
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}
    
.nav-links-work > li > a:hover {
    background-color: var(--almostBlack);
    padding: .5rem 1rem;
}
    
.nav-links-work > li > a.active {
    background-color: var(--almostBlack);
    padding: .5rem 1rem;
}


/* Casestudy1 */
.whishes-list {
    padding-left: 1.5rem;
}

.whishes-list > li {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

   